@import './variables.scss';

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans.ttf") format("truetype");
}

body { margin: 0; padding: 0; background: #E1E1E1; }
h1 { margin: 0; padding: 0; }
h2 { margin: 0; padding: 0; }
ul { margin: 0; padding: 0; }
li { margin: 0; padding: 0; }
p { margin: 0; padding: 0; }

