@import '../../variables.scss';

.simple-button {
  .select {
    border: 0;
    background: #55BB06;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $text__white;
    margin: 8px 15px;
    cursor: pointer;
    width: 205px;
    height: 41px;

    &:hover {
      animation: box 0.25s ease-in-out infinite;
    }
  }
}

@keyframes box {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
