@import '../../../variables.scss';

@media (max-width: 1280px) {
  .flight-info {
    justify-content: center;
    padding: 0;

    .header {
      display: flex;
      justify-content: space-between;
      margin: 10px 100px;
    }

    .flight-time {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px;
    }

    .flight-distance {
      display: flex;
      justify-content: center;

      .distance-block {
        text-align: center;
        width: 172px;
      }
    }
  }
}

@media (max-width: 650px) {
  .flight-info {
    display: block;
    justify-content: normal;

    .header {
      margin: 10px 10px;

      .luggage-no {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #202123;
      }
    }
  }
}

